div(class="middle")
  div(class="row")
    div(class="col8")
      h2
        | Sample app &middot; 
        span(class="clr-delta") Angular 2
      p This is an example app based on Angular 2. It relies on TypeScript, SystemJS, Gulp and Sass. The project comes with various features you may need to build a typical single page application (SPA). Here are the most important aspects:
      ul
        li a routing concept (separate route configuration file)
        li login and dashboard view components (authorized/public routes)
        li error page handling
        li a directive (form inputs)
        li a service (authorization)
        li a pipe (determine the active route)
        li a production bundle using Ahead-of-Time (AoT) compilation for one "app.min.js"
        li optional Pug (former Jade) templates for HTML
        li TSLint for integrated code checking
        li unit/regression test sample using Karma and Angular testing utilities
        li uses core-js, Reflect, Rx.js and Zone.js
      p
        | The project was developed with an IDE in mind so the Gulp configuration works well with or without an editor that has integrated TypeScript/Sass compilation (like WebStorm or Visual Studio). Gulp is mandatory for copying Angular 2 and polyfills so you don't need to link to modules from 
        em node_modules
        |  inside your web app. Gulp can be used for compiling TypeScript/Sass and runnig a local web server with file watchers. There are also Gulp tasks for deploying a production environment: all JavaScript code gets bundled and minified into one final "app.min.js" using Ahead-of-Time (AoT) compilation and tree shaking (Rollup). CSS code will also be concatenated into a single file CSS code also will be concatenated into a single file. The 
        em index.html
        |  contains a minimal pre-processing condition for production.
      p
        | Head over to the 
        a([routerLink]="['/login']") login page
        |  to see the components, directives and services in action. There is a sample dashboard view which represents an area for authorized users.
      p
        strong Browser support:
        |  all major browsers including Internet Explorer 11+, Edge, Firefox, Chrome, Opera and Safari
      p
        a(href="https://github.com/matthias-schuetz/angular2-seed/", class="button") Download on GitHub
    div(class="col4")
      h2 Structure
      p
        | The seed comes with a minimal file structure where everything gets compiled inside the 
        em app
        |  folder. For production, there will be an additional 
        em dist/
        |  folder containing minified files.
      ul(class="file-structure")
        li
          span(class="icon") &#x0251C;
          | app/
        li(class="lvl2")
          span(class="icon") &#x0251C;
          | assets/
        li(class="lvl2")
          span(class="icon") &#x0251C;
          | src/
        li(class="lvl2")
          span(class="icon") &#x0251C;
          | styles/
        li(class="lvl2")
          span(class="icon") &#x0251C;
          | dist.body.html
        li(class="lvl2")
          span(class="icon") &#x0251C;
          | dist.head.html
        li(class="lvl2")
          span(class="icon") &#x0251C;
          | index.html
        li(class="lvl2")
          span(class="icon") &#x02514;
          | system.conf.js
        li
          span(class="icon") &#x0251C;
          span(class="clr-delta") node_modules/
        li
          span(class="icon") &#x0251C;
          | aot-rollup-config.js
        li
          span(class="icon") &#x0251C;
          | gulpfile.js
        li
          span(class="icon") &#x0251C;
          | karma.conf.js
        li
          span(class="icon") &#x0251C;
          | karma-test-shim.js
        li
          span(class="icon") &#x0251C;
          | tsconfig.json
        li
          span(class="icon") &#x0251C;
          | tsconfig-aot.json
        li
          span(class="icon") &#x02514;
          | tslint.json