<div class="bgd-zeta header">
	<div class="middle">
		<div class="row header-container">
			<div class="col6">
				<h1 class="header-title"><strong>Angular 2</strong> Seed</h1>
				<h2 class="header-subtitle">A basic Angular 2 TypeScript starter project</h2>
			</div>
			<div class="col6">
				<ul class="navmenu align-right header-nav">
					<li *ngIf="!isUserAuthorized"><a [routerLink]="['/']" [class.active]="'/' | isRouteActive">Home</a></li>
					<li *ngIf="!isUserAuthorized"><a [routerLink]="['/login']" [class.active]="'/login' | isRouteActive">Login</a></li>
					<li *ngIf="isUserAuthorized"><a (click)="logout()" class="pointer">Logout</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>

<router-outlet></router-outlet>

<div class="footer-dock"></div>
<div class="footer bgd-alpha">
	<div class="middle">
		<div class="row">
			<div class="col12">
				<h2 class="clr-epsilon">About</h2>
				<p>This project is developed by <a href="https://github.com/matthias-schuetz">Matthias Schuetz</a> and the source code is available on <a href="https://github.com/matthias-schuetz/angular2-seed/">GitHub</a>. This sample app also uses the <a href="http://coresheet.net">CoreSheet CSS framework</a> for visualization.</p>
			</div>
		</div>
	</div>
</div>