$page-background-color: #ffffff;
$page-font-color: #222222;
$page-brand-color-alpha: #ebebeb;
$page-brand-color-beta: #d6d6d6;
$page-brand-color-gamma: #c2c2c2;
$page-brand-color-delta: #adadad;
$page-brand-color-epsilon: #898989;
$page-brand-color-zeta: #E03237;
$page-brand-color-eta: #f94047;
$page-brand-color-theta: #ff6469;
$page-brand-color-iota: #ffa8aa;